<div>
<h3 class="local-name"> TOURISTA 1.0 | Angeles City</h3>
</div>
<div class="jumbotron jumbotron-default">
	<div class="jumbotron-border">
		<div class="container">
			<div class="row">
			<div class="col-xs-1 icon-samples">
				<h2><img class="img-responsive" src="/images/map.svg"></h2>
			</div>
				<div class="col-xs-10 pull-left">
				<h2>Tourista 1.0  is the best way to find great local businesses</h2>
				</div>
				<div class="col-xs-12">
				<p>
				People use Tourista 1.0 to search for everything from the city's tastiest burger to the most renowned cardiologist. What will you uncover in your neighborhood?
				</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
	  	<h3 class="local-name">List of Tourist Destination</h3>
		<div ng-show="businessList.errorMsg">
		    <h5>Oops!</h5>
		    <p>Looks like an error occurred.  Please try again later.</p>
		    <code>
		      {{businessList.errorMsg}}
		    </code>
	  	</div>


	    <!-- Nav tabs -->
	    <ul class="nav nav-tabs" role="tablist">
			<li role="presentation">
				<a ng-click="showBusinessCategory('Restaurant')">Restaurant</a>
			</li>
			<li role="presentation">
				<a ng-click="showBusinessCategory('Coffee and tea')">Coffee and Tea</a>
			</li>
			<li role="presentation">
				<a ng-click="showBusinessCategory('Beauty and Spa')">Beauty and Spa</a>
			</li>
			<li role="presentation">
				<a ng-click="showBusinessCategory('Travel')">Travel</a>
			</li>
			<li role="presentation">
				<a ng-click="showBusinessCategory('Hotels')">Hotels</a>
			</li>
	    </ul>
	    <!-- All touris destination-->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="all">
				<!---Start of Panel -->
				<div class="col-xs-12">
					<div role="tabpanel" ng-show="businessList.loading">
						<span class="overlord-loading-spinner fa fa-spinner"></span>
							<span>Loading businesses...</span>
					</div>
				  	<div ng-show="businessList.contents.length === 0">
				    	<span>No businesses yet.</span>
				    	<br><br><br><br><br><br><br>
				  	</div>
			  	</div>
				<div ng-repeat="business in businessList.contents | orderBy:'name' | limitTo:'12'"class="col-md-3 col-sm-4">
					<div class="thumbnail thumbnail-caption">
						<img ng-src="{{business.photos[0]}}" class="img-responsive" alt="Business Image">
						<div class="caption">
							<a ng-href="#/business/{{business.id}}">
								<h4 class="business-name">{{business.name}}</h4>
							</a>
							<p class="review-text">{{business.street}}, {{business.city}}, {{business.province}}</p>
							<p class="description">{{business.description}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- /Categories of Tourist Destination Widget -->

<!-- Recent Activity -->
<div class="recentactivity-wrap">
	<div class="container-fluid">
	  	<h3 class="title-heading">Recent Review</h3>
		<div class="row">

			<div class="col-sm-8">
				<div ng-repeat="review in reviewList.contents | orderBy:'-dateCreated' | limitTo:10" class="panel panel-default">
					<div class="panel-body">
						<div class="col-sm-2 col-lg-1">
							<div class="user-image">
								<img class="img-thumbnail img-responsive" src="{{userInfo.contents.gravatarUrl}}">
							</div>
						</div>
						<div class="col-sm-10 col-lg-11 user-review">
							<span class="date-rated">{{review.dateCreated | date:'medium' }}</span>
							<span class="user-name">
								<a href="userdashboard.html">{{userInfo.contents.name}}</a> &nbsp;|
							</span>
							<span class="alert-danger">{{userInfo.contents.title}}</span>
							<p class="text-muted">Wrote a Review for
								<a href="#/business/{{review.businessid}}">{{review.businessid}}</a>
							</p>
							<div class="user-rating">
	                 			<angular-ratings ng-model="review.rating"></angular-ratings>
							</div>
							<p>{{review.review}}</p>
						</div>
					</div>
				</div>
			</div> <!-- end of .col-xs-8 -->

			<div class="col-sm-4">
				<!-- /.panel .chat-panel -->
				<div class="panel panel-default panel-event">
					<div class="panel-heading event-heading">
						<h3 class="panel-title ">Events </h3>
					</div>
					<div class="panel-body panel-events">
					<div class="col-lg-3">
					<div class="user-image">
					<img class="img-thumbnail" src="http://placehold.it/60x60">
					</div>
					</div>
					<div class="event-desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
					</div>
					</div>
					<div class="panel-body panel-events">
					<div class="col-lg-3">
					<div class="user-image">
					<img class="img-thumbnail" src="http://placehold.it/60x60">
					</div>
					</div>
					<div class="event-desc">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod </p>
					</div>
					</div>
				</div>
			</div> 
		</div> 
	</div>
</div>
<!-- /Recent Activity -->

<!-- New Business -->
<div class="container-fluid" >
<h3 class="title-heading"> New Business in Tourista 1.0</h3>
<div class="row">
  <div ng-repeat="business in businessList.contents | limitTo:'4' | orderBy:'-dateCreated'" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
    <div class="newbiz_hover">
      <p class="newbiz-p">
        <img ng-src="{{business.photos[0]}}" alt="">
      </p>
      <div class="caption">
        <div class="blur"></div>
        <div class="caption-text">
          <h3 class="newbiz-name">{{business.name}}</h3>
          <p class="newbiz-p">{{business.street}}, {{business.city}}, {{business.province}}</p>
          <a class="btn btn-default" href="biz.html"> More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div> <br>

