<!DOCTYPE html>
<html ng-app="TorisDashboard">
  <head>
    <title>Toris | Welcome back, <%= me.name %>!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
    <link rel="stylesheet" href="/styles/drunken-parrot.css">
    <link rel="stylesheet" href="/styles/demo.css">
    <link rel="stylesheet" href="/styles/docs.css">
    <link rel="stylesheet" href="/styles/font-awesome-4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="/styles/font-awesome-4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <!--STYLES END-->
 
    <script type="text/javascript">
    window.SAILS_LOCALS = {
      _csrf: '<%= _csrf %>',
      me: <%- JSON.stringify(me) %>
    };
    </script>
  </head>
  <body ng-controller="DashboardCtrl" ng-cloak>

    <audio id="chatAudio">
      <source src="/sounds/notify.ogg" type="audio/ogg">
      <source src="/sounds/notify.mp3" type="audio/mpeg">
      <source src="/sounds/notify.wav" type="audio/wav">
    </audio>

    <div class="ui-error-bus">
      <li ng-repeat="error in errorBus"><span>{{error.message}}</span><span ng-click="errorBus.splice(indexOf(error), 1)" class="fa fa-remove"></span></li>
    </div>

    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-inverse">
        <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#/">Toris</a>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">
          <ul class="nav navbar-nav" >
            <li ng-show="me.isAdmin" ng-class="{'active':getClass('/users')}">
              <a href="#/users">User Administration</a>
            </li>
            <li ng-show="me.isAdmin" ng-class="{'active':getClass('/businesses')}">
              <a href="#/businesses">Business Administration</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="gravatarSm"><img ng-src="{{me.gravatarUrl}}" width="24" height="24"/></li>
            <li class="activityOverlord active">
              <a href="#/profile" class="pointer"> {{me.name}}</a>
            </li>
            <li>
              <a href="/logout">sign-out</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <div ng-view></div>

    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/angular-messages.js"></script>
    <script src="/js/dependencies/angular-route.min.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/moment.js"></script>
    <script src="/js/toris-dashboard/TorisDashboard.module.js"></script>
    <script src="/js/toris-dashboard/ui-controls/DashboardCtrl.js"></script>
    <script src="/js/toris-public/TorisPublic.module.js"></script>
    <script src="/js/toris-public/main.js"></script>
    <script src="/js/toris-public/ui-controls/PublicCtrl.js"></script>
    <!--SCRIPTS END-->

  </body>
</html>
