<div class="container">
  <!-- Error state -->
  <div ng-show="businessProfile.errorMsg">
    <h5>Oops!</h5>
    <p>Looks like an error occurred.  Please try again later.</p>
    <code>
      {{errorMsg}}
    </code>
  </div>

  <!-- Loading state -->
  <div ng-show="businessProfile.loading">
    <span class="overlord-loading-spinner fa fa-spinner"></span>
    <span>Loading business data...</span>
  </div>


</div>
  <div ng-hide="businessProfile.loading" class="container-fluid">
    <div class="col-xs-12">
    <h2 class="biz-name">{{businessProfile.contents.name}} </h2>
    <span>{{businessProfile.contents.street}}, {{businessProfile.contents.city}}, {{businessProfile.contents.province}} </span>
    <angular-ratings ng-model="AveRating.contents.averagerate"></angular-ratings>
    </div>
    <div class="row">
      <div class="biz-image col-xs-8">
        <div class="text-center">
          <img class="img-responsive text-center col-xs-12" ng-src="{{businessProfile.contents.photos[0]}}" style="display:inline; max-height:400px">
        </div>
      </div>
      <div class="biz-image col-xs-4">
        <div class="panel panel-default panel-event">
          <div class="panel-heading event-heading">
            <h3 class="panel-title "> Business Map </h3>
          </div>
          <div class="" align="center">
            <ui-gmap-google-map center="businessProfile.contents.center" zoom='8'>
                <ui-gmap-marker coords="businessProfile.contents.marker" idkey="0"></ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <!-- Recent Reviews -->
      <div class="biz-reviews">
        <div class="col-lg-8">
          <h3 class="">{{businessProfile.contents.name}} Reviews
            <span class="pull-right">({{totalReview.contents.numCount}})</span>
          </h3>
          <div class="panel panel-default">
            <div ng-show="totalReview.contents.numCount === 0">
              <span>No review yet.</span>
              <br><br><br><br><br><br><br>
            </div>
            <div ng-repeat="review in reviewListbyBusiness.contents | orderBy: '-dateCreated'" class="panel-body">
              <div class="col-sm-2 col-lg-1">
                <div class="user-image"> 
                  <img class="img-thumbnail" src="{{userInfo.contents.gravatarUrl}}">
                </div>
              </div>
              <div class="col-sm-10 col-lg-11 user-review">
                <span class="date-rated">{{review.dateCreated | date:'medium' }}</span>
                <span class="user-name alert-primary">
                  <a href="#">{{userInfo.contents.name}}</a>
                </span>&nbsp;|
                <span class="alert-danger">{{userInfo.contents.title}}</span>
                <span class="text-muted">Wrote a Review</span>
                <div class="user-rating">
                  <angular-ratings ng-model="review.rating"></angular-ratings>
                </div>
                <p>{{review.review}}</p>
                <p id="username-{{$index}}">{{showUserProfile(review.userid, $index)}}</p>
              </div>
            </div>

          </div>
        </div>
        <!-- Events -->
        <div class="col-lg-4">
          <h3>&nbsp;</h3>
          <div class="panel panel-default panel-biznotif">
            <div class="panel-body panel-notif">
              <span class="fa fa-clock-o fa-lg"></span> 
              <span class="biz-time">Today 7:00 am- 5:00 pm</span>
              <span class="biz-avail"> Closed Now </span>
              <div class="biz-menu">
                <i class="fa fa-spoon fa-lg"></i>
                <a class="biz-link" href="#"> MENU <i class="fa fa-external-link "></i></a>
              </div>
              <div class="biz-price-range">
                <i class="fa fa-usd "></i>
                <span> Price Range </span>
                <span class="price-range"> $11-$30</span>
              </div>
            </div>
          </div>

          <div class="panel panel-default panel-bizhours">
            <div class="panel-body panel-header-hours">
              <h4> Opens </h4>
            </div>
            <div class="panel-footer panel-hours">
                <!-- Table -->
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Monday</th>
                    <td>6:00 am </td>
                    <td>5:00 pm</td>
                  </tr>
                  <tr>
                    <th scope="row">Tuesday</th>
                    <td>6:00 am </td>
                    <td>5:00 pm</td>
                  </tr>
                  <tr>
                    <th scope="row">Wednesday</th>
                    <td>6:00 am </td>
                    <td>5:00 pm</td>
                  </tr>
                  <tr>
                    <th scope="row">Thursday</th>
                    <td>6:00 am </td>
                    <td>5:00 pm</td>
                  </tr>
                  <tr>
                    <th scope="row">Friday</th>
                    <td>6:00 am </td>
                    <td>5:00 pm</td>
                  </tr>
                  <tr>
                    <th scope="row">Saturday</th>
                    <td>6:00 am </td>
                    <td>5:00 pm</td>
                  </tr>
                  <tr>
                    <th scope="row">Sunday</th>
                    <td>6:00 am </td>
                    <td>5:00 pm</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



