<div class="panel panel-default">

  <div class="panel-heading">
    <h3>Business Administration</h3>
  </div>

  <div ng-show="businessList.errorMsg">
    <h5>Oops!</h5>
    <p>Looks like an error occurred.  Please try again later.</p>
    <code>
      {{businessList.errorMsg}}
    </code>
  </div>

  <div ng-show="businessList.loading">
    <span class="overlord-loading-spinner fa fa-spinner"></span>
    <span>Loading businesses...</span>
  </div>

  <div ng-show="businessList.contents.length === 0">
    <span>No businesses yet.</span>
  </div>

  <table class="table" ng-show="!businessList.loading && businessList.contents.length > 0">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <tr ng-repeat="business in businessList.contents">
      <td>{{business.name}} </td>
      <td>{{business.street}}, {{business.city}}, {{business.province}}</td>
      <td>{{business.description}}</td>
      
      <td>
        <a ng-href="#/business/{{business.id}}" class="btn btn-sm btn-primary">Show</a>
      </td>
      <td>
        <a ng-href="#/business/{{business.id}}/edit" class="btn btn-sm btn-warning">Edit</a>
      </td>
      <td>
        <!--
        <a ng-disabled="business.deleting" ng-hide="me.id == business.id" ng-click="deleteBusiness(business.id)" class="btn btn-sm btn-danger">
          <span ng-show="!business.deleting">Delete</span>
          <span class="overlord-loading-spinner fa fa-spinner" ng-show="business.deleting" ></span>
          <span ng-show="business.deleting">Deleting...</span>
        </a>
        -->
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#createBusinessModal">
          Add
        </button>
      </td>  
    </tr>

  </table>

  

  <!-- Modal -->
  <div class="modal fade" id="createBusinessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create New Business</h4>
        </div>
        
        <form ng-submit="editBusiness(editbusinessProfile.properties.id)">
          <div class="modal-body">
            <div class="control-group form-group col-md-12">
              <label>Business name</label>
              <input type="text" class="form-control" ng-model="editbusinessProfile.properties.name">
            </div>

            <div class="control-group form-group col-md-12">
              <label>Description</label>
              <input type="text" class="form-control" ng-model="editbusinessProfile.properties.description">
            </div>

            <div class="control-group form-group col-md-12">
              <label>Street Address</label>
              <input type="text" class="form-control" ng-model="editbusinessProfile.properties.street">
            </div>

            <div class="control-group form-group col-md-12">
              <label>City</label>
              <input type="text" class="form-control" ng-model="editbusinessProfile.properties.city">
            </div>

            <div class="control-group form-group col-md-12">
              <label>Province</label>
              <input type="text" class="form-control" ng-model="editbusinessProfile.properties.province">
            </div>

            <div class="control-group form-group col-md-12">
              <label>Category</label>
              <input type="text" class="form-control" ng-model="editbusinessProfile.properties.category">
            </div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>
