.angular-google-map-container{
  height:300px;
  display:block;
}

@font-face {
  font-family: glai;
  src: url(../fonts/source-sans-pro/sourcesanspro-semibold.woff);
}
a:hover {
  cursor: pointer;
}
header{
  text-align: center;
  padding: 25px 0;
  background-color: rgb(26, 188, 156);
  font-family: glai, Helvetica, Arial, sans-serif;
}
header .symbol {
height: 90px;
width: auto;
}
.angular-ratings {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}
.angular-ratings li {
  float: left;
  width: 20px;
  height: 20px;
  margin: 1px;
  text-indent: -500000em;
  background: url(angular-star.png)
  no-repeat; background-size: 100%;
}
#login {
  margin-top: 100px;
  margin-bottom: 100px;
}
.angular-ratings li.over {
  border-color: silver; background-color: white; background-position: 0 -20px; cursor: pointer;
}
.angular-ratings li.active {
  background-position: 0 -20px;
}
#description {
  white-space: nowrap; 
  width: 20em; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.nav-wrap ul{
  text-align: center;
}
.footer-left{
  float: left;
}
.main-forms{
  text-align: 

}
.margin-bottom-none {
margin-bottom: 0px !important;
}
.local-name{
  text-indent: 10px;
}
.title-heading{
  text-indent: 10px;
}
.user-image{
  float: left;
  padding-right: 10px;
}
.thumbnail>img{
  height:100px;
}
.nav-tabs>li.active>a{
  border: 0;
}
.biz-indent{
  text-indent: 10px;
}
.modal-header{
  background-color: #364347;
}
.modal-title{
  color: #fff;
}
.button-close{
  color: #fff;
}
 /*Biz Reviews----------------------*/
#stars{
  color: #F4E813;

}
.stars-review{
  padding-left: 10px;
}
.reviews-number{
  padding-left: 5px;
}
.biz-image-wrap{
  margin-top: 10px;
}
.biz-map-wrap{
  margin-top: 10px;
}
.panel-biznotif{
  background-color: #2C3E50;
}
.panel-notif{
  color: #fff;
}
.biz-avail{
  color: #fff;
  float: right;
}
.biz-menu{
  padding: 3px 0px 0px 5px;
}
.biz-link {
  color: #fff;
}
.biz-price-range{
  padding: 3px 0px 0px 5px;
}
.price-range{
  margin-left: 10px;
}
.panel-header-hours{
  padding: 5px 0px 2px 15px;
  background-color: rgb(26, 188, 156);
}
.user-name {
  margin-bottom: 0px;
}
.date-rated{
  float: right;
}
.modal-review .biz-name{
  color: #fff;
}
.modal-body .btn-sucess{
  color: #ffffff;
  background-color: #3eb5ac;
}
.modal-body{
  background-color: rgb(54, 67, 71);
}
.modal-body span{
  color: #fff;
  padding-right: 5px;
}
.modal-footer{
  margin-top: 0px;
  background-color: rgb(54, 67, 71);
}
.modal-footer .btn-sucess{
  color: #ffffff;
  background-color: #3eb5ac;
}
/*
Recent Activity
*/

.recentactivity-wrap {
  padding-top: 20px;

}
.panel-event .event-heading{
  color: #fff;
  background-color: rgb(26, 188, 156);
}


/*
Rotation and Text Slide
*/
.symbol.rotate {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  stransform: rotate(0deg);
}





.user-recentactivity{
  float: left;
}

/*SIGNUP-------------------*/
.signup-wrapper{
  padding-bottom: 50px;
  background-color:rgb(252, 241, 219);
}
.signup-text{
  text-align: center;
}
.button-center{
  text-align: center;
}

.signup-wrapper .well {
  background-color: #364347;
}

.well>form {
  margin-top: 15px;
}

.hr-line {
  border: none;
  border-top: 1px solid #ccccc8;
  text-align: center;
}
.or-signup{
  margin-bottom: 0px;
}
.or {
  text-align: center;
  color: #ccc;
}


/*userdashboard*/
.user-name{
  text-indent: 18px;
}
.user-photo{
  padding: 15px 0px 15px 0px;
}
.user-photobox{
  padding: 0px 0px 5px 0px;
}

.user-info{
  margin-left: 10px;
}
.user-info-details{
  font-size: 16px;
}
.user-dashboard-reviews{
  margin-top: 17px;
}
.user-friends{
  margin-top: 17px;
}
.friends-img li{
  list-style-type: none;
  display: flex;
  padding: 3px 3px 3px 3px;
}
.friends-img {
  display: inline-flex;
  padding-left: 5px;
}
.panel-friends{
  padding: 8px 5px 1px 0px;
}

/*rating list*/

.user-ratinglist{
  margin-top: 17px;
}
.user-rating-head{
  text-indent: 10px;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  border-color: rgb(214, 225, 229);
  margin-bottom: 0px;
}
.business-image .img-responsive{
  margin: 5px;
}
.rating-list .date-rated{
  text-align: left;
}
.star-indent{
  text-indent: 2px;
}
.panel-default >.panel-heading {
  color: #FFFFFF;
  background-color: #1ABC9C;
}
.rating-scale a{
 color: rgb(44, 62, 80);
}
.viewfull-list a{
  font-size: 14px;
  color: rgb(44, 62, 80);
}
/*new biz in tourista*/

.new-biz li{
  list-style-type: none;
  display: flex;
  padding: 3px 3px 3px 3px;
}
.new-biz {
  display: inline-flex;
  padding-left: 5px;
}
.newbiz_hover{
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 200px;
    background-color:#cccccc;
  }
  .newbiz_hover:hover .caption{
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform:translateY(-150px);
    -moz-transform:translateY(-150px);
    -ms-transform:translateY(-150px);
    -o-transform:translateY(-150px);
  }
  .newbiz_hover img{
    z-index: 4;
  }
  .newbiz_hover .caption{
    position: absolute;
    top:150px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    width: 100%;
  }
  .newbiz_hover .blur{
    background-color: rgba(0,0,0,0.7);
    height: 300px;
    z-index: 5;
    position: absolute;
    width: 100%;
  }
  .newbiz_hover .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 300px;
    text-align: center;
    top:-20px;
    width: 100%;
  }
  .newbiz-p{
    text-align:center; 
    color: #fff;
  }
  .newbiz-name{
    border-top: 2px solid rgb(26, 188, 156);
    border-bottom: 2px solid rgb(52, 188, 152);
    padding:10px;
    color: #fff;
  }



/*footer----------------*/
.panel-footer {
  padding: 0px;
}
.tourista-footer{
  background-color:rgb(26, 188, 156);
  color: #fff;
}
.footer-col{
  margin-top: 30px;
  margin-bottom: 30px;
}
.tourista-footer li{
  list-style: none;
}
.tourista-copyrights{
  text-align: center;
  background-color: #CCCCCC;
}

.ng-scope .col-lg-8 > div > div:not(:last-child){
  border-bottom: 1px solid #d6e1e5;
;
}

