
  <div class="container-fluid">
    <div class="row">
        <h3 class="user-name">{{me.name}}</h2>
       <div ></div> 
      <div class="userinfo-main col-lg-2">
        <div class="user-photo">
          <div class="user-photobox">
            <img class="img-responsive img-thumbnail" ng-src="{{me.gravatarUrl}}">
          </div>
        </div>
        <div class="user-info">
          <span class="user-info-details"><strong>Title</strong></span>
          <p class="user-info-details">{{me.title}}</p>
<!--           <span class="user-info-details"><strong>Tourista since</strong></span>
          <p class="user-info-details">{{me.dateCreated}}</p> -->
        </div>
      </div>
      <div class="col-lg-7">
        <div class="panel panel-default user-dashboard-reviews">
  <div ng-repeat="review in reviewListbyUser.contents | orderBy: '-dateCreated'" class="panel-body" ng-init="showUserProfile(review.userid, $index)">
    <div class="col-sm-2 col-lg-1">
      <div class="user-image" id="userimg-{{$index}}"></div>
      </div>
        <div class="col-sm-10 col-lg-11 user-review">
        <span class="date-rated">{{review.dateCreated | date:'medium' }}</span>
        <span class="user-name alert-primary">
        <a href="#" id="username-{{$index}}"></a>
        </span>
        <span class="text-muted">Wrote a Review</span>
        <div class="user-rating">
        <angular-ratings ng-model="review.rating"></angular-ratings>
        </div>
      <p>{{review.review}}</p>
    </div>
  </div>
          </div>

    </div>
  </div>
<!-- <div class="container">
  <div ng-repeat="review in reviewListbyUser.contents | orderBy: '-dateCreated'" class="panel-body" ng-init="showUserProfile(review.userid, $index)">
    <div class="col-sm-2 col-lg-1">
      <div class="user-image" id="userimg-{{$index}}"></div>
      </div>
        <div class="col-sm-10 col-lg-11 user-review">
        <span class="date-rated">{{review.dateCreated | date:'medium' }}</span>
        <span class="user-name alert-primary">
        <a href="#" id="username-{{$index}}"></a>
        </span>
        <span class="text-muted">Wrote a Review</span>
        <div class="user-rating">
        <angular-ratings ng-model="review.rating"></angular-ratings>
        </div>
      <p>{{review.review}}</p>
    </div>
  </div>
</div> -->


